@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Mitr", sans-serif;
  background-color: #9b5de5;
}
.app {
  display: flex;
  flex-direction: column;
}
.addUser {
  background-color: #fee440;
}
@media(min-width:768){
  .app {
    display: flex;
    flex-direction: row;
  }
  .addUser {
    background-color: #fee440;
  }
}
